:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --outline-table-bg: #d9d9d9;
    --inner-table-bg: #fdfdfd;
    --link-color: #2222ff;
    --link-active-color: #000088;
    --link-visited-color: #5050cc;
}

[data-theme="dark"] {
    --bg-color: #333333;
    --text-color: #ffffff;
    --outline-table-bg: #2b2b2b;
    --inner-table-bg: #020202;
    --link-color: #0096FF;
    --link-active-color: #ccccff;
    --link-visited-color: #0096FF;
}