@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css');

body {
    text-align: center;
    background-color: #fff;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

.mainContainer {
    max-width: 720px;
    margin: auto;
}

.headerTable {
    border: 2px solid #d9d9d9;
    background-color: #f1f1f1;
    margin: auto;
}

.headerTable td {
    padding: 4px;
}

.logoContainer {
    width: 100%;
    text-align: center;
}

.logo {
    transition: transform 0.3s ease;
    width: auto;
}

.logo:hover {
    animation: glow 1.5s infinite;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 0, 255, 0.9);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
    }
  }

  .description {
    text-align: justify;
  }

  .links {
  }

  .link-table {
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }




/* ----------------- Utility ------------------- */
.flex-container {
    display: flex;
    justify-content: center;
}

.flex-item {
    height: auto;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.image-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }


.no-border {
    border: none;
}

.big-link {
    font-size: 1.2em;
}

.small-link {
    font-size: 0.8em;
}
.gray {
    color: #999;
}

.light-em {
    color: #666;
    font-style: italic;
}
