/* 
merging from chuck.css, this was the only reference to it	
*/
body { 
	background : white;
	color : black;
	font-size: 10pt;
	font-family: sans-serif;
}

.container { 
	padding : 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.centered { 
	margin-left: auto;
	margin-right: auto;
	text-align : center; 
}

.a { 
	text-decoration: none;
}

.sectiontitle { 
	font-size: 130%;
	font-weight: 300;
}

.pagetitle { 
	font-size: 120%;
	font-weight: 600;
	color : #339933
}

.subtitle { 
	border-top : 1px #808080;
	font-size: 120%;
	font-weight: 200;
	color : #339933
}

.version { 
	font-size: 100%;
	font-weight : 200;
	padding : 5px;
	border: 1px solid #d9d9d9;
	background: #fdfdfd;
	width : 25em;
	margin-left : auto;
	margin-right : auto;
}


.sectionMain { 
	color: #aa3333;
	background : #ffffdd;
	width : 484px;
	font-size: 170%;
	font-variant: small-caps;
	font-weight: 600;
	border: 1px solid #808080;
	padding : 8px;
	margin : 10px;	
	margin-left: 5px;
}


.section { 
	color: #aa3333;
	width : 500px;
	font-size: 130%;
	border-bottom: 2px solid #808080;
	margin : 5px;	
	margin-bottom: 15px;
}


.ckexample { 
	border: 1px solid gray;
	background : #f0f0f0;
	padding-left : 10px;
	margin: 20px;
}

.code { 
	margin: 20px;
	width : 30em;
	padding: 1em;
	font-size: 90%;
	margin-left: 150px;
	border: 1px solid grey;
	background: white;
	font-family: monospace;
	white-space:pre;
}

.nav { 
	width : 75%;
	margin : 10px;
	margin-left: auto;
	margin-right: auto;
	text-align : center; 
}

.bottomnav { 

	margin-top : 20px;
	border-top: 1px solid grey;
	padding-top : 10px;
	margin-left: auto;
	margin-right: auto;
}

/* end lines from chuck.css */

.libindex { 
	margin : 10px;
}

.briefdesc { 
	width : 100%;
}

.ckexample { 
	border: 1px solid gray;
	background : #f0f0f0;
	padding-left : 10px;
	margin: 20px;
}


.library { 

	margin : 0px;
	margin-bottom: 30px;
}


.exportlist { 
	padding : 5px;
	
}

.ugen { 
	font-size: 10pt;
	font-family: sans-serif;
	border: 2px solid #808080;
	background: #fdfdfd;
	margin : 10px;
	width : 500px;
	padding : 0px;
	margin-bottom: 30px;
}

.ugen h3 { 
	font-size: 120%;
	font-weight: 400;
	padding: 0.5em;
	background: #f0fff0;
	margin: 0px;
}

td h3 : hover { 
	background: #f8f8d0;
}

tr.ugen td { 
	border-top : 2px solid #b0b0b0;
}

tr.ugen td h3 { 
	padding-top: 5px;
	padding-bottom: 5px;
	background: #e0f0e0;
	height: 100%;
}


.name { 
	font-size: 100%;
	font-weight: 800;
}	

.heading { 
	color: #40a040;
}	

.ugen h4 { 
	background: #ffe0e0;
	margin : 0px;
	font-size : 110%;
}

.data { 
	margin: 0em;
	font-size: 90%;
	background : #f8f8f8;
}

.comments { 
	margin : 0px;
	padding : 0.5em;
	padding-left : 12px;
	background : #e8e8e8;
}

.comments ul { 
	margin : 0px; 
	margin-left : 1em;
	padding : 0px;
	list-style-type : square;
}

.comment, .comments li { 
	margin-left: 0;
	font-style: italic;
}

tr { 
	margin : 5px;
}

td.comments { 
	width:70%;
	margin : 5px;
	padding : 5px;
}

.members { 
	margin: 0px;
	padding: 0.5em;
	background : #f0f0f0;
}

.members ul { 
	margin : 1em;
	margin-left : 1em;
}

li.members { 
	left : 10px;
}

li.members b { 
	font-weight : 800;
}

.export { 
	font-size: 10pt;
	font-family: sans-serif;
	border: 1px solid #808080;
	background: #fdfdfd;
	margin : 5px;
	width : 620px;
	padding : 0px;
	margin-bottom: 15px;
}

.export h3 { 
	font-weight: 400;
	padding : 2px;
	margin : 0.5em;
	font-size: 110%;
}
.arg { 
	font-weight: 800;
}

.morecomments {
	font-family: monospace;
	font-size: 90%;
	margin: .5em 2em;
}

.greentext {
    color: #33aa33;
}

.bold {
    font-weight:bold;
}

h3.function-name {
    padding-left: 22px;
    text-indent: -20px;
    line-height: 1.4;
}


